<div class="skills-container">
  <h2>Skills</h2>
  
  <div *ngIf="!isEditing; else editMode">
    <ul>
      <li *ngFor="let skill of skills">{{ skill }}</li>
    </ul>
    <button (click)="toggleEdit()">Edit Skills</button>
  </div>

  <ng-template #editMode>
    <div class="add-skill">
      <input [(ngModel)]="newSkill" placeholder="Add new skill">
      <button (click)="addSkill()">Add</button>
    </div>
    <ul>
      <li *ngFor="let skill of skills">
        {{ skill }}
        <button (click)="removeSkill(skill)">Remove</button>
      </li>
    </ul>
    <button (click)="toggleEdit()">Done</button>
  </ng-template>
</div>